{% extends "base.html" %}
{% set title = "Смена пароля" %}

{% block content %}
  <div class="card">
    <h1 class="h1">Смена пароля</h1>
    <form method="post" action="{{ url_for('auth.change_password_post') }}">
      <label class="label">Текущий пароль</label>
      <input class="input" name="current_password" type="password" autocomplete="current-password" required />

      <label class="label">Новый пароль</label>
      <input class="input" name="new_password" type="password" autocomplete="new-password" required />

      <label class="label">Повторите новый пароль</label>
      <input class="input" name="new_password2" type="password" autocomplete="new-password" required />

      <button class="btn" type="submit">Обновить</button>
    </form>
  </div>
{% endblock %}

